@page "/counter"

@using TimCoreyInDepthSectionTwo.Data
@inject ICounterService CounterService

<h1>Counter</h1>

<p>Current count: @CounterService.CounterValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private void IncrementCount()
    {
        CounterService.IncreaseCounter();
    }

}
