@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <footer class="page-footer font-small primary-color-dark">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2021 Copyright but not really because this is just a test
            </div>
            <!-- Copyright -->

        </footer>
    </div>
</div>

